.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.details-row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.details-description {
	max-width: 470px;
}

.details-title {
	font-size: 32px;
	margin-bottom: 30px;
}

.details-image { 
	margin-right: 50px;
}

.details-youtube {
	margin:0 auto;
	max-width: 640px;
}

.button-back {
	max-width: 200px;
	display: block;
	margin: 25px auto;
}

